# Sensitive files — never commit these
.env
**/.env


# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
.Python

# Django
*.log
local_settings.py

# Virtual environment
venv/
env/
.venv/
.env/

# IDE
.idea/
.vscode/
*.iml
